@model IEnumerable<NhaKhoaMVC5.Models.NhanVien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChucVu.TenCV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sdt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChucVu.TenCV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sdt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaNV_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaNV_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNV_ID })
        </td>
    </tr>
}

</table>
