@model NhaKhoaMVC5.Models.ChiTietYeuCau_DichVu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChiTietYeuCau_DichVu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DichVu.TenDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DichVu.TenDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YeuCau.MaNhaSi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YeuCau.MaNhaSi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Stt_ID }) |
    @Html.ActionLink("Quay về", "Index")
</p>
