@model NhaKhoaMVC5.Models.TaiKhoan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaiKhoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.MaCV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.MaCV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenTaiKhoan_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
